html{
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;

    background: #fdfdfd;
}
*{
    box-sizing: border-box;
    scrollbar-width: none;
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
button{
    outline: 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}
[hidden]{
    display: none !important;
}
@font-face{
    font-family: LuciaGrade;
    src: url("../fonts/LG.ttf");
}
@font-face{
    font-family: AvenirReg;
    src: url("../fonts/AvenirNextCyr-Regular.ttf");
}
@font-face{
    font-family: AvenirMed;
    src: url("../fonts/AvenirNextCyr-Medium.ttf");
}
body{
    font-family: AvenirMed;

    height: 100vh;
    color: rgb(81,90,102);
    display: flex;
    flex-direction: column;
    letter-spacing: -0.03em;
}
header{
    overflow: hidden;
    overflow-x: scroll;

    scrollbar-width: none;

    border-bottom: 1px solid #000;
}
main{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    
    position: relative;
}
.timestamp sup{
    left: -5px;
}

.header__date{
    position: relative;
    user-select: none;
    padding: 8px 0;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.header__date::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 30px;
    right: 30px;
    height: 1px;

    background: rgb(236, 239, 241);
}

.dateline{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.wrapper{
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.dateline > :first-child{
    margin-left: 30px;
}
.dateline > :last-child{
    margin-right: 30px;
}

.date{
    flex: 0;
    flex-basis: 85px;
    height: 85px;
    border-radius: 26px;
    color: rgb(64,73,84);
    margin: 0 10px;
    text-align: center;

    cursor: pointer;
    min-width: 85px;
}
.date.today{
    color: rgb(115, 186, 225);
}
.date.selected{
    color: white;
    background: rgb(115, 186, 225);
}
.date__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.date__day,
.date__wday{
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
}
.date__day{
    font-size: 25px;
}

.toolbar{
    padding: 24px 0;
    height: 120px;
    font-size: 20px;
    user-select: none;
    font-weight: 500
}
.toobar__wrap{
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}
.row{
    flex: 1;
    display: inline-block;
    white-space: nowrap;
    line-height: 1.6em;
}
*[opc]{
    opacity: .5
}
*[big]{
    font-size: 25px;
}
.toolbar__toolset{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.toolset{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}


.tasklist-wrap{
    display: flex;

    user-select: none;
    position: relative;

    min-height: 100%;
    background: url(../img/other/line.svg);
}
.timeline{
    width: 120px;
    padding-right: 10px;
    background: #fdfdfd;
    border-right: 1px solid #000;
    

    font-size: 40px;
    color: #777778;
}
.timestamp{
    
    height: 150px;
    
    min-height: 150px;
    max-height: 150px;

    padding: 10px 0;
    border-bottom: 1px solid #dfdee0;

    white-space: nowrap;
    text-align: right;

    letter-spacing: -0.05em;
}
.tasklist{
    flex: 1;
    overflow: hidden;
}
.task{
    position: absolute;
    left: initial !important;
    right: initial !important;

    border-radius: 20px;
    
    background: rgba(91,158,116,1);

    min-height: 300px;
    margin: 0 30px;
    
    color: white;
    font-size: 18px;
    font-weight: 300;

    padding-bottom: 50px;

    cursor: pointer;

    margin-top: -1px;
}
.task .task__info{
    padding: 20px;
    min-height: 130px;
    border-radius: 20px;
    background: rgba(101,175,128,1);

    max-height: 100%;

    display: flex;
}
.task .task__name{
    margin-bottom: 20px;
}
.task .task__name span{
    opacity: .7;
}
.task .task__tinfo{
    position: absolute;

    left: 0;
    right: 0;
    bottom: 20px;

    padding: 0 20px;
}
.task .task__starts{
    opacity: .5;
}
.task .task__notes p{
    margin: 0;
}
.task__wrap{
    max-height: 100%;
    overflow: hidden;
}

.bpanel{
    overflow: hidden;

    position: fixed;

    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #fdfdfd;

    transition: .2s ease;
    
    padding: 0 30px;
}
.bpanel.show{
    top: 0;
}
.bpanel__toolset{
    height: 80px;
    position: relative;
    display: flex;
}
.bpanel__wrap{
    width: 100%;
    height: calc(100vh - 120px);
    
    overflow-x: hidden;
    overflow-y: scroll;
}
.bpanel__content{
    width: 100%;
}

.text-btn{
    cursor: pointer;
    font-size: 25px;
    user-select: none;
    color: rgb(115, 186, 225);
}

footer{
    border-top: 1px solid #000;
}
.footer__wrap{
    margin: 10px 0;
    justify-content: flex-start;
}
.page-title{
    font-size: 63px;
    font-weight: 600;
    color: rgb(64,73,84);
    line-height: 1.14em;
}
.flexlist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.notelist{
    position: relative;
}

.noteblock{
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,.1);

    font-size: 35px;
}
.noteblock label{
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    transition: .2s ease;
    padding: 0 25px;

    height: 90px;
}
.noteblock label span{
    line-height: 2.4em;
}
.noteblock__wrap{
    width: 100%;
    padding-left: 30px;
}
.noteblock > .noteblock__wrap > .noteblock label{
    height: 0;
}
.noteblock.show > .noteblock__wrap > .noteblock > label{
    height: 90px;
}