.tool{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.tool + .tool{
    margin-left: 10px;
}
.tool.add{
    position: relative;
}
.tool.add:before,
.tool.add:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.tool.add:before{
    border-radius: 100%;
    background: rgb(115, 186, 225);
}
.tool.add:after{
    background: url(../img/icons/plus.svg) center no-repeat;
}
/* === ===*/
.tool.calendar{
    background: url(../img/icons/calendar.svg) center no-repeat;
    background-size: 52px;
    background-position-y: 7px;
}
/* === ===*/
.tool.list{
    background: url(../img/icons/list.svg) center no-repeat;
    background-size: 51px;
    background-position-y: 8px;
}
/* === ===*/
.tool.settings{
    background: url(../img/icons/settings.svg) center no-repeat;
    background-position-y: 9px;
}
/* === ===*/
.tool.qr-scan{
    background: url(../img/icons/qr-scan.svg) center no-repeat;
    background-size: 46px;
    background-position-y: 11px;
}


/* ### ICONS ###*/
.icon{
    min-width: 34px;
    min-height: 34px;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-4px);
    margin-right: 15px;
    background-size: 100% !important;
}
.icon.notegr{
    background: url(../img/icons/notegroup.svg) center no-repeat;
}
.icon.notebl{
    background: url(../img/icons/noteblock.svg) center no-repeat;
}
.icon.note{
    background: url(../img/icons/note.svg) center no-repeat;
    background-size: 34px !important;
    min-width: 20px;
    background-position-x: -7px;
}